body {
	background: #e2e2e2;
}

#chat_window {
	height: 20em;
    width: 100%;
    border: solid grey 1px;
    margin-bottom: 3em;
    background: white;
    overflow: auto;
}

#chat_heading {
	padding-top: .5em;
	text-decoration: underline;
}

.name{
	font-weight: bold;
	color: purple;
}

.mess {
	font-weight: lighter;
	color: black;
}

.chat_box {
	overflow: auto;
}
.grey_chat_line {
	background: #f7f4f4;
}

.greyer_chat_line {
	background: #e2e2e2;
}

.friend_list {
	height: auto;
	border: solid grey 1px;
    margin-bottom: 3em;
    background: white;
    overflow: auto;
}

.signed_in_div{
	display: none;
}

.signed_in_div button {
	display: block;
    margin-bottom: .5em;
    width: 100%;
}

.signed_in_div p {
	text-decoration: underline;
}

.signed_in_div .col-lg-3{
	border: black 1px solid;
	background: white;
	margin-bottom: .5em;
}

.signed_in_div .row{
	padding-left: 15px;
}

#btn-concerned {
	background: #fcee5a;

}

.concerned {
	background: #fcee5a;

}

#concerned_buttons{
	display: none;
}